header {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    margin-top: 0;
    background-image: linear-gradient(120deg,rgb(173, 88, 88), rgb(221, 142, 142));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1 {
    padding: 0;
    margin: 0;
}
h1 a {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 65px;
    background: url(../../assets/music-notes-blue.jpg);
    background-size: cover;
  
    background-attachment: fixed;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}
a {
    color: rgb(7, 8, 82);
    text-decoration: none;
}
a:hover {
    color: rgb(94, 96, 228);
}
a:active {
    color: rgb(223, 223, 223);
}
nav {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
}
@media only screen and (min-width: 600px) {
    h1 {
        font-size: 28px;
        
    }
    nav {
        justify-content: flex-end;
    }
    nav a {
        padding: 8px;
    }
}