nav {
    position: fixed;
    top: 48px;
    right: 0;
    padding: 4px;
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: #274144;
    border-radius: 0 0 0 8px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    z-index: 3;
}

a, a:visited {
    color: #F8A6A0;
    padding: 8px;
    text-decoration: none;
}
a:hover {
    color: #FFE6E2;
}
.username {
    color: #FC4D4D;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

@media only screen and (min-width: 760px) {
    nav {
        position: static;
        flex-direction: row-reverse;
        padding-right: 16px;
        background-color: none;
        z-index: 3;
    }
    nav a {
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        white-space: nowrap;
    }
    nav span {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        align-items: center;
        padding-left: 8px;
    }
}