.tab-btn {
    background-color:#2c3e50;
    border: none;
    width: 100vw;
    padding: -8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tab-btn:hover {
    cursor: pointer;
    background-color: rgb(63, 107, 109);
}
.tab-btn:focus {    
    outline: solid 2px#F8A6A0;
}
.tab-btn span {
    color: #F8A6A0;
    margin:0;
    font-size: 20px;
}
.tab {
    background-color: #f8cfc9;
}
.tab-content .expanded{
    padding-top: 26px;
    transition: height 5s;
    height: 300px;
}